<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <%= link_to 'Blog', root_path, class: 'navbar-brand' %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to 'Posts', posts_path, class: 'nav-link' %>
        </li>
      </ul>
      
      <div class="d-flex">
        <% if user_signed_in? %>
          <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="userMenu" data-bs-toggle="dropdown">
              <%= current_user.email %>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to 'Novo Post', new_post_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Editar Perfil', edit_user_registration_path, class: 'dropdown-item' %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
            </ul>
          </div>
        <% else %>
          <%= link_to 'Entrar', new_user_session_path, class: 'btn btn-outline-primary me-2' %>
          <%= link_to 'Cadastrar', new_user_registration_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>